@import "tailwindcss";

input[type="number"],
input[type="text"],
select {
  color: #111827;
  background-color: #ffffff;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}